In [1]:
%load_ext autoreload
%autoreload 2

import os
import cv2
import matplotlib.pyplot as plt
from attention.img_proc.img_process import *
from attention.img_proc.img_split import *
from attention.models.face_models import *
from attention.utils.img_plot import *
from attention.utils.utilities import *
from attention.params import *
import copy

objc[5870]: Class CaptureDelegate is implemented in both /Users/juliette/.pyenv/versions/3.10.6/envs/attention-env/lib/python3.10/site-packages/cv2/cv2.abi3.so (0x169fb25a0) and /Users/juliette/.pyenv/versions/3.10.6/envs/attention-env/lib/python3.10/site-packages/mediapipe/.dylibs/libopencv_videoio.3.4.16.dylib (0x14687c860). One of the two will be used. Which one is undefined.
objc[5870]: Class CVWindow is implemented in both /Users/juliette/.pyenv/versions/3.10.6/envs/attention-env/lib/python3.10/site-packages/cv2/cv2.abi3.so (0x169fb25f0) and /Users/juliette/.pyenv/versions/3.10.6/envs/attention-env/lib/python3.10/site-packages/mediapipe/.dylibs/libopencv_highgui.3.4.16.dylib (0x137c30a68). One of the two will be used. Which one is undefined.
objc[5870]: Class CVView is implemented in both /Users/juliette/.pyenv/versions/3.10.6/envs/attention-env/lib/python3.10/site-packages/cv2/cv2.abi3.so (0x169fb2618) and /Users/juliette/.pyenv/versions/3.10.6/envs/attention-env/lib/python3.10/site-packages/mediapipe/.dylibs/libopencv_highgui.3.4.16.dylib (0x137c30a90). One of the two will be used. Which one is undefined.
objc[5870]: Class CVSlider is implemented in both /Users/juliette/.pyenv/versions/3.10.6/envs/attention-env/lib/python3.10/site-packages/cv2/cv2.abi3.so (0x169fb2640) and /Users/juliette/.pyenv/versions/3.10.6/envs/attention-env/lib/python3.10/site-packages/mediapipe/.dylibs/libopencv_highgui.3.4.16.dylib (0x137c30ab8). One of the two will be used. Which one is undefined.

In [2]:
current_directory = os.getcwd()
data_directory = os.path.join(current_directory, os.pardir, "attention_data")

In [5]:
known_folder_path = os.path.join(data_directory, "known_faces")
known_paths = load_image_paths(known_folder_path)
known_names = list(known_paths.keys())
known_faces = [read_image(image_path) for image_path in known_paths.values()]
known_encodings = train_faces(known_faces, known_names)

In [10]:
image_folder_path = os.path.join(data_directory, "face_crops")
image_paths = load_image_paths(image_folder_path)

for image_name, image_path in image_paths.items():
    # Loading image
    face = read_image(image_path)
    face_name = image_name 
    face_prediction = recognize_face(face, known_encodings)
    #Annotating name and distance on the face image
    prediction_name, distance = face_prediction
    face_recognition = annotate_recognition(face, prediction_name, distance)
    # Saving recognition image output
    recognition_path = os.path.join(data_directory, "output_recognition")
    save_image(face_recognition, face_name + '.png', recognition_path)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [4]:
df = pd.read_csv("/Users/juliette/code/juliettes01/final_project/final-attention/attention_output.csv")

In [5]:
df

,frame,timestamp,face_idx,recognition_prediction,recognition_distance,attentive,left_prediction,left_score,right_prediction,right_score,head_direction_prediction,head_direction_score,head_inclination_prediction,head_inclination_score
0,Midbatch_ds300,300,0,Lancelot,0.48,False,straight,0.44,straight,0.36,head left,0.44,head level,1.26
1,Midbatch_ds300,300,1,NaN,0.76,True,straight,0.50,straight,0.50,head centered,1.12,head level,1.44
2,Midbatch_ds300,300,2,Noah,0.53,True,straight,0.53,straight,0.50,head centered,0.87,head level,1.70
3,Midbatch_ds300,300,3,Julie,0.56,False,straight,0.44,straight,0.52,head centered,0.94,head down,1.77
4,Midbatch_ds300,300,4,Agos,0.45,False,straight,0.22,sideway,0.67,head centered,1.65,head level,1.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2828,Midbatch_ds3290,3290,5,Sara,0.48,True,straight,0.60,straight,0.44,head centered,1.42,head level,1.54
2829,Midbatch_ds3290,3290,6,Emi,0.45,False,straight,0.45,sideway,0.64,head centered,1.99,head level,1.09
2830,Midbatch_ds3290,3290,7,Gonzalo,0.52,False,straight,0.59,straight,0.48,head right,2.19,head level,0.90
2831,Midbatch_ds3290,3290,8,Juliette,0.57,True,straight,0.60,straight,0.52,head centered,1.20,head level,1.56
2832,Midbatch_ds3290,3290,9,Isa,0.44,True,straight,0.41,straight,0.58,head centered,1.44,head level,1.39

In [6]:
df["recognition_prediction"].value_counts()

Noah        292
Agos        282
Julie       280
Isa         267
Emi         241
Gonzalo     223
Sara        212
Lancelot    205
Juliette    201
Leo           2
Amine         1
Emilia        1
Name: recognition_prediction, dtype: int64

In [8]:
noah_df = df[df["recognition_prediction"]=="Noah"]

In [9]:
noah_df

,frame,timestamp,face_idx,recognition_prediction,recognition_distance,attentive,left_prediction,left_score,right_prediction,right_score,head_direction_prediction,head_direction_score,head_inclination_prediction,head_inclination_score
2,Midbatch_ds300,300,2,Noah,0.53,True,straight,0.53,straight,0.50,head centered,0.87,head level,1.70
12,Midbatch_ds310,310,2,Noah,0.54,True,straight,0.56,straight,0.50,head centered,0.85,head level,1.45
22,Midbatch_ds320,320,2,Noah,0.51,True,straight,0.53,straight,0.47,head centered,0.99,head level,1.41
32,Midbatch_ds330,330,2,Noah,0.56,True,straight,0.53,straight,0.53,head centered,1.02,head level,1.50
41,Midbatch_ds340,340,2,Noah,0.49,True,straight,0.47,straight,0.53,head centered,1.09,head level,1.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2775,Midbatch_ds3240,3240,1,Noah,0.57,True,straight,0.47,straight,0.54,head centered,1.31,head level,1.72
2786,Midbatch_ds3250,3250,2,Noah,0.57,False,straight,0.60,straight,0.43,head centered,1.37,head down,2.00
2806,Midbatch_ds3270,3270,2,Noah,0.50,True,straight,0.57,straight,0.40,head centered,1.90,head level,1.00
2816,Midbatch_ds3280,3280,3,Noah,0.48,True,straight,0.47,straight,0.46,head centered,1.37,head level,1.56
2825,Midbatch_ds3290,3290,2,Noah,0.46,True,straight,0.53,straight,0.50,head centered,1.62,head level,1.56

In [11]:
noah_df= noah_df[["timestamp", "attentive"]]

In [12]:
noah_df

      timestamp  attentive
2           300       True
12          310       True
22          320       True
32          330       True
41          340       True
...         ...        ...
2775       3240       True
2786       3250      False
2806       3270       True
2816       3280       True
2825       3290       True

[292 rows x 2 columns]